.order-step {
    max-width: 1440px;
    margin: auto;
    gap: 30px;
    background: white;
    padding: 20px;
    border-radius: 5px;
}
.result {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}